.myOverride {
	margin-top: 20rem;
	text-align: center;
	clear: both;
}

.buttonOverride {
	margin-top: 10rem;
}

.myOverrideHead {
	margin-top: 5rem;
	text-align: center;
}

.text {
	padding: 5px;
}

.photo {
	width: 50%; 
	height: 20%;
	text-align: center;
}

.endscreen {
	position: fixed;
	height: 17rem;
	width: 100%;
	color: #FFF;
}